// Variables
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

/* Global Colors */

$body: #fff;
$hcl-test-panel: #fff;
$hcl-test-panel-header: #4d148c;
$hcl-test-panel-collapse: #8057ad;
$hcl-test-button-active-background: #ff6200;
$hcl-test-button-disabled-background: #ff6200;
$hcl-test-button-active-color: #fff;
$hcl-test-button-active2-color: #007ab7;
$hcl-test-button-disabled-color: #0e0e0e;

// Input box,label color code
$hcl-test-inputbox-font-color: #333333;
$hcl-test-inputbox-label-color: #797979;
$hcl-test-inputbox-border-color: #bababa;
$hcl-test-inputbox-border-active-color: #4d148c;
$hcl-test-inputbox-border-error-color: #e8002e;

/* Font Styles */
$hcl-test-button-font-size: 12px;
